{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}

{% block title %}Register{% endblock %}
{% block content %}
<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-5">
          {% if request.user.is_authenticated %}
          <a href="{% url 'authentication_demo' %}" class="btn btn-info">Return to Demo Page</a>
          {% endif %}
          <h1 class="text-center display-1">Register Page</h1>
          <hr>
          <form method="POST" class="form-group">
            {% csrf_token %} 
            {{ form|crispy }}
            <div class="my-3 d-flex justify-content-center">
              <button type="submit" class="btn btn-light border {% if request.user.is_authenticated %}disabled{% endif %}">Register&emsp;<i class="fa-solid fa-angles-right"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  

{% endblock %}